body {
    background-color: #09163E;
  font-family: "Outfit", sans-serif;
}

.app {
    background-color: #809EE6 ;
    max-width: 600px;
    margin: 30px auto;
    padding: 30px;
    box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
    border-radius: 15px;
}